
body {
  background-color: lightblue;
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: white;
}

.on {
  background-color: rgb(104, 82, 82);
}
  
.box:hover { 
  background: rgb(104, 82, 82);
}

.center {
  display: table;
  margin-top: 10px;
  margin-left: 30%;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 70%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.btn {
  margin: 5px;
}

.btns {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.btnz {
  margin-top: 1.5%;
}